
#barChart {
    -fx-background-color: #d4f7bc;
}


#barChart .axis-label {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}


